.button-div{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top:20px;
}
.a{
    margin-top:5px;
    text-decoration: none;
    color: white;
}
.btn-div{
    display: flex;
    justify-content:center;
    align-items: center;
}
.btn2{
    margin-bottom:15px;
}
