<div class="btn-div">
    <button class="btn">
        <a class="a" routerLink="/login">LOGIN PAGE</a>
    </button>
    <button class="btn">
        <a (click)=moveToAddTask() class="a" routerLink="/addtask">ADD Todo</a>
    </button>
</div>
<app-add-task (OnNewTask)="addTask($event)">
</app-add-task>
<app-task-item *ngFor="let task of tasks | paginate: { itemsPerPage: 5, currentPage: page }" [task]="task"
    (onToggleCompleted)="toggleCompleted(task)">
</app-task-item>
<br>
<pagination-controls (pageChange)="page = $event"></pagination-controls>