<!-- <app-add-task (OnNewTask)="addTask($event)"> -->
<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="title"></label>
        <input type="title" name="title" [(ngModel)]="title" id="title" placeholder="ADD TASK" />
    </div>
    <div class="form-control form-control-check">
        <label for="completed">Completed ?</label>
        <input type="checkbox" name="completed" [(ngModel)]="completed" id="completed" placeholder="ADD TASK" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>
<button class="btn btn2">
    <a class="a" routerLink="/">TODO PAGE</a>
</button>
<!-- </app-add-task> -->